.build
.DS_Store
.netrc
.specstory/history
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
**/UserInterfaceState.xcuserstate
/.build
/Packages
build
DerivedData/
release
scripts
xcuserdata/
